[Desktop Entry]
Name=RedPhutuRed
Name[x-test]=xxRedPhutuRedxx

X-KDE-PluginInfo-Name=RedPhutuRed
X-KDE-PluginInfo-Author=Pierre-Henri Lavigne
X-KDE-PluginInfo-Email=red@phutu.red
X-KDE-PluginInfo-License=CC-BY-NC-SA-4.0
